

<!DOCTYPE html>
<html>
<head>
<title>Create a Party</title>
</head>
<body>
<h1>Create a Party</h1>
<form action="/create_party" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="date">Date:</label>
<input type="date" name="date" id="date">
<br>
<label for="time">Time:</label>
<input type="time" name="time" id="time">
<br>
<label for="location">Location:</label>
<input type="text" name="location" id="location">
<br>
<input type="submit" value="Create Party">
</form>
</body>
</html>


